// Overrides and adds customized foundation settings in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//

$brand: #669933;

$info-bg: #f1f1e9;
$info-border: #DDDDD5;
$color-info: #333333;

$highlight: #DDDDD5;
